<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
    <tr>
      <td><%= f.label "Nombre" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label "Dirección" %></td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td><%= f.label "Puesto Laboral" %></td>
      <td><%= f.text_field :job_title %></td>
    </tr>
    <tr>
      <td><%= f.label "Fecha de Contratación" %></td>
      <td><%= f.date_select :hire_date %></td>
    </tr>

    <tr>
      <td><%= f.label "Salario" %></td>
      <td><%= f.text_field :salary %></td>
    </tr>
  
    <tr>
      <td><%= f.label "Horario" %></td>
      <td><%= f.text_field :horary %></td>
    </tr>
  
  
    <tr>
      <td><%= f.submit :value => "Guardar Empleado", :class => "btn btn-success" %></td>
      <td></td>
    </tr>
  
</table>
<% end %>
