<div>
  
<% flash.each do |key, value| %>
  <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Lista de Empleados</h1>
<%= link_to 'Empleado Nuevo', new_employee_path, :class => "btn btn-info", :style => "margin-bottom: 10px;" %>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Puesto Laboral</th>
    <th>Tiempo Laborando</th>
    <th>Fecha de Contratación</th>
    <th>Salario</th>
    <th>Horario</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>

  
  <% diferencia_de_tiempo = distance_of_time_in_words(Time.now.to_date, employee.hire_date) %>
  <% if diferencia_de_tiempo[/day/] %>
    <% dias = "dia(s)" %>
  <% elsif diferencia_de_tiempo[/month/] %>
    <% meses = "mes(es)" %>
  <% elsif diferencia_de_tiempo[/year/] %>
    <% anios = "año(s)" %>
  <% end %>
  <% cantidad = diferencia_de_tiempo[/[0-9]+/] %>
  <% if dias != nil %>
    <% tiempo_laborando = cantidad + " " + dias %>
  <% elsif meses != nil %>
    <% tiempo_laborando = cantidad + " " + meses %>
  <% elsif anios != nil %>
    <% tiempo_laborando = cantidad + " " + anios %>
  <% end %>
  
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.address %></td>
    <td><%= employee.job_title %></td>
    <td><%= obtener_diferencia(Time.now.to_date, employee.hire_date) %></td>
    <td><%= fecha_con_formato(employee.hire_date) %></td>
    <td><%= "$" + employee.salary.to_s %></td>
    <td><%= employee.horary %></td>
    <td><%= link_to 'Detalles', employee, :class => "btn btn-small btn-primary"  %></td>
    <td><%= link_to 'Editar', edit_employee_path(employee), :class => "btn btn-small btn-warning"  %></td>
    <td><%= link_to 'Liquidar', { :action => "liquidar", :id => employee.id }, confirm: '¿Desea liquidar a ' + employee.name + '?', method: :put, :class => "btn btn-small btn-danger" %></td>
    <td><%= link_to 'Eliminar', employee, confirm: "¿Desea eliminar empleado?", method: :delete %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Empleados Liquidados', liquidados_path, :class => "btn btn-primary" %>
</div>