<% flash.each do |key, value| %>
  <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1><%= @employee.name %></h1>
<div id="content-show-employees">
<table class="table table-bordered table-condensed">
  <% if @employee.termination_date == nil %>
    <% diferencia_de_tiempo = distance_of_time_in_words(Time.now.to_date, @employee.hire_date) %>
  <% else %>
    <% diferencia_de_tiempo = distance_of_time_in_words(@employee.termination_date, @employee.hire_date) %>
  <% end %>
  <% if diferencia_de_tiempo[/days/] %>
    <% dias = "dia(s)" %>
  <% elsif diferencia_de_tiempo[/month/] %>
    <% meses = "mes(es)" %>
  <% elsif diferencia_de_tiempo[/year/] %>
    <% anios = "año(s)" %>
  <% end %>
  <% cantidad = diferencia_de_tiempo[/[0-9]+/] %>
  <% if dias != nil %>
    <% tiempo_laborando = cantidad + " " + dias %>
  <% elsif meses != nil %>
    <% tiempo_laborando = cantidad + " " + meses %>
  <% elsif anios != nil %>
    <% tiempo_laborando = cantidad + " " + anios %>
  <% end %>
  
  <tr>
    <td><b>Direccion</b></td>
    <td><%= @employee.address %></td>
  </tr>
  <tr>
    <td><b>Puesto Laboral</b></td>
    <td><%= @employee.job_title %></td>
  </tr>
  <tr>
    <td><b>Tiempo Laborando</b></td>
    <td><%= tiempo_laborando %> </td>
  </tr>
  <tr>
    <td><b>Fecha de Contratación</b></td>
    <td><%= fecha_con_formato(@employee.hire_date) %></td>
  </tr>
  <% if is_fire? %>
  <tr>
    <td><b>Fecha de Liquidación</b></td>
    <td><%= fecha_con_formato(@employee.termination_date) %></td>
  </tr>
  <% end %>
  <tr>
    <td><b>Salario</b></td>
    <td><%= @employee.salary %></td>
  </tr>
  <tr>
    <td><b>Horario</b></td>
    <td><%= @employee.horary %></td>
  </tr>

</table>

<%= link_to 'Editar', edit_employee_path(@employee), :class => "btn btn-warning" %> |
<% if is_fire? %>
  <%= link_to 'Empleados Liquidados', liquidados_path, :class => "btn btn-primary" %>
<% else %>
  <%= link_to 'Empleados Contratados', employees_path, :class => "btn btn-primary" %>
<% end %>
</div>