<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Address:</b>
  <%= @employee.address %>
</p>

<p>
  <b>Job title:</b>
  <%= @employee.job_title %>
</p>

<p>
  <b>Hire date:</b>
  <%= @employee.hire_date %>
</p>

<p>
  <b>Termination date:</b>
  <%= @employee.termination_date %>
</p>

<p>
  <b>Salary:</b>
  <%= @employee.salary %>
</p>

<p>
  <b>Horary:</b>
  <%= @employee.horary %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
