<% if @purchases.empty? %>
  <h2>No existen compras</h2>
<% else %>
<h1>Ventas</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>ID</th>
    <th>Fecha</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.id %></td>
    <td><%= purchase.date %></td>
    <td><%= purchase.total %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% end %>

<% if session[:open_purchase] == "true" %>
  <%= link_to 'Agregar más Productos a Compra', new_p_detail_path, :class => "btn" %>
<% else %>
  <%= link_to 'Nueva Compra', new_p_detail_path(:creada => "false"), :class => "btn" %>
<% end %>