<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= fecha_con_formato(@purchase.date) %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase.total %>
</p>

<h2>Productos de la Compra</h2>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Cantidad</th>
    <th>Producto</th>
    <th>Precio Unitario</th>
    <th>Total de Producto</th>
    <th>Compra</th>
  </tr>

<% @p_details.each do |p_detail| %>
  <tr>
    <td><%= p_detail.quantity %></td>
    <td><%= p_detail.product.size + " " + p_detail.product.product_type.type_of_products %></td>
    <td><%= p_detail.unit_price %></td>
    <td><%= p_detail.quantity * p_detail.unit_price %></td>
    <td><%= p_detail.purchase_id %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Regresar a Compras', purchases_path, :class => "btn btn-info" %>