<h1>Listing p_details</h1>

<table class="table table-bordered">
  <tr>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Product ID</th>
    <th>Product</th>
    <th>Purchase</th>
  </tr>

<% @p_details.each do |p_detail| %>
  <tr>
    <td><%= p_detail.quantity %></td>
    <td><%= p_detail.unit_price %></td>
    <td><%= p_detail.product_id %></td>
    <td><%= p_detail.product.size.to_s + " " + p_detail.product.product_type.type_of_products %></td>
    <td><%= p_detail.purchase_id %></td>
  </tr>
<% end %>
</table>

<br />