<%= link_to 'Eliminar Compra', {:controller => "p_details", :action => "delete_purchase"}, :confirm => "¿Desea eliminar compra?", :method => :delete, :class => "btn btn-danger" %>
<h2>Agregar Producto a la Compra</h2>

<%= render 'form' %>

<% unless @p_details.empty? %>
<h1>Productos Agregados</h1>

<table class="table table-bordered">
  <tr>
    <th>Total de Producto</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Product</th>
    <th>Purchase</th>
    <th></th>
  </tr>

<% @p_details.each do |p_detail| %>
  <tr>
    <td><%= p_detail.quantity * p_detail.unit_price %></td>
    <td><%= p_detail.quantity %></td>
    <td><%= p_detail.unit_price %></td>
    <td><%= p_detail.product.size.to_s + " " + p_detail.product.product_type.type_of_products %></td>
    <td><%= p_detail.purchase_id %></td>
    <td><%= link_to 'Destroy', p_detail, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>

<% end %>

<%= link_to 'Guardar Compra', {:controller => "p_details", :action => "close_purchase"}, :method => :put, :class => "btn btn-success" %>