<h1>Lista de Clientes</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Persona de Referencia</th>
    <th>Fecha de Ultima Visita</th>
    <th>Direccion</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.reference_person %></td>
    <td><%= customer.last_visit_date %></td>
    <td><%= customer.address %></td>


    <td><%= link_to 'Mostrar', customer %></td>
    <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
    <td><%= link_to 'Eliminar', customer, confirm: '¿Esta seguro de eliminar este cliente?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_customer_path, :class => "btn btn-success" %>