<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Telefono:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Persona de Referencia:</b>
  <%= @customer.reference_person %>
</p>

<p>
  <b>Fecha de la Ultima Visita:</b>
  <%= @customer.last_visit_date %>
</p>


<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Regresar', customers_path %>
