<script >
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: "DD, d MM, yy" });
    });
</script>

<%= form_for(@activity) do |f| %>
    <% if @activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

          <ul>
            <% @activity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <div class="form-horizontal">
    <div class="control-group">
      <div class="control-label"><%= f.label :title %></div>
      <div class="controls"><%= f.text_field :title %></div>
    </div>
    <div class="control-group">
      <div class="control-label"><%= f.label :date %></div>
      <div class="controls"><%= f.text_field :date,:id => "datepicker" %></div>
    </div>
    <div class="control-group">
      <div class="control-label"><%= f.label :description %></div>
      <div class="controls"><%= f.text_area :description, :size => "50X20" %></div>
    </div>
    <div class="control-group">
      <div class="controls"><%= f.submit "Guardar Actividad", :class => "btn btn-success" %></div>
    </div>
  </div>
<% end %>
