<h1>Lista de Actividades</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Título</th>
    <th>Fecha</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.title %></td>
    <td><%= fecha_con_formato(activity.date) %></td>
    <td><%= activity.description %></td>
    <td><%= link_to 'Detalles', activity %></td>
    <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
    <td><%= link_to 'Eliminar', activity, confirm: '¿Dese eliminar actividad?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Actividad', new_activity_path, :class => "btn btn-success" %>