<%= link_to 'Actividades', activities_path, :class => "btn btn-info" %>
<br/><br/>
<h1><%= @activity.title %></h1>
<table class="table table-bordered table-condensed">
  <tr>
    <td><b>Fecha</b></td>
    <td><%= @activity.date %></td>
  </tr>
  <tr>
    <td><b>Descripción</b></td>
    <td><%= @activity.description %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_activity_path(@activity), :class => "btn btn-warning" %>