<%= link_to 'Gastos por Mes', por_mes_expenses_path, :class => "btn btn-info" %>
<h1>Lista de Gastos</h1>

<table class="table">
  <tr>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.description %></td>
    <td><%= fecha_con_formato(expense.date) %></td>
    <td><%= expense.total %></td>
    <td><%= link_to 'Detalles', expense %></td>
    <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
    <td><%= link_to 'Eliminar', expense, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Gasto', new_expense_path, :class => "btn btn-success" %>