<h1>Lista De Productos</h1>

<table class="table">
  <tr>
    <th>Tamaño</th>
    <th>Tipo De Producto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @products.each do |product| %>
  <tr>
    <td><%= product.size %></td>
    <td><%= product.product_type.type_of_products %></td>
    <td><%= link_to 'Mostrar', product%></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Eliminar', product, confirm: '¿Esta seguro de eliminar este producto?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Producto', new_product_path, :class => "btn btn-success" %>