<%= form_for(@detail) do |f| %>
    <% if @detail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

          <ul>
            <% @detail.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :quantity %>
      <br/>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :sale_id %>
      <br/>
      <%= f.number_field :sale_id %>
    </div>
    <div class="field">
      <%= f.label :product_id %>
      <br/>
      <%= f.collection_select :product_id, @products_all, :id,"full_product_name" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
