<% if @sales.empty? %>
  <h2>No existen ventas</h2>
<% else %>
<h1>Ventas</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Date</th>
    <th>Total</th>
    <th>Customer</th>
    <th>Customer ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.date %></td>
    <td><%= sale.total %></td>
    <td><%= sale.customer.name %></td>
    <td><%= sale.customer_id %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<% end %>

<% if session[:created_sale] == "true" %>
  <%= link_to 'Agregar más Productos a la venta', new_detail_path, :class => "btn" %>
<% else %>
  <%= link_to 'Nueva Venta', new_detail_path, :class => "btn" %>
<% end %>