<% if @sales.empty? %>
  <h2>No existen ventas</h2>
<% else %>
<h1>Ventas</h1>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Fecha</th>
    <th>Total</th>
    <th>Cliente</th>
    <th>Cliente ID</th>
    <th></th>
    <th></th>
  </tr>
<% ultimo = @sales.count %>
<% @sales.each_with_index do |sale, index| %>

  <tr>
    <td><%= fecha_con_formato(sale.date) %></td>
    <td><%= sale.total %></td>
    <% if index+1 == ultimo and session[:created_sale] == "true" %>
      <td></td>
      <td></td>
    <% else %>
      <td><%= sale.customer.name %></td>
      <td><%= sale.customer_id %></td>
    <% end %>
    <td><%= link_to 'Mostrar Detalles', sale, :class => "btn btn-info" %></td>
    <td><%= link_to 'Eliminar', sale, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<% end %>

<% if session[:created_sale] == "true" %>
  <%= link_to 'Agregar más Productos a la venta', new_detail_path, :class => "btn" %>
<% else %>
  <%= link_to 'Nueva Venta', new_detail_path, :class => "btn" %>
<% end %>