<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= fecha_con_formato(@sale.date) %>
</p>

<p>
  <b>Total:</b>
  <%= @sale.total %>
</p>

<p>
  <b>Cliente:</b>
  <%= @sale.customer.name %>
</p>

<p>
  <b>Venta ID:</b>
  <%= @sale.id %>
</p>


<h2>Productos de la Venta</h2>

<table class="table table-bordered table-condensed">
  <tr>
    <th>Cantidad</th>
    <th>Producto</th>
    <th>Precio Unitario</th>
    <th>Total de Producto</th>
    <th>Venta</th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= detail.quantity %></td>
    <td><%= detail.product.size + " " + detail.product.product_type.type_of_products %></td>
    <td><%= detail.unit_price %></td>
    <td><%= detail.quantity * detail.unit_price %></td>
    <td><%= detail.sale_id %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Regresar a Ventas', sales_path, :class => "btn btn-info" %>
