<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @sale.date %>
</p>

<p>
  <b>Total:</b>
  <%= @sale.total %>
</p>

<p>
  <b>Customer:</b>
  <%= @sale.customer_id %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
