<h1>Direcciones de Clientes</h1>







<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Mostrar Mapa', location %></td>
    <td><%= link_to 'Editar Ubicacion', edit_location_path(location) %></td>
    <td><%= link_to 'Eliminar', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<br/>
<% end %>
</table>

<br/>

<%= link_to 'Nueva Ubicacion', new_location_path %>
