<!DOCTYPE html>
<html>
<head>
  <title>Inventario</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <% if current_user_session %>
        <ul class="nav pull-right">
          <li><%= link_to 'Activities', activities_path %></li>
          <li><%= link_to 'Customers', customers_path %></li>
          <li><%= link_to 'Details', details_path %></li>
          <li><%= link_to 'Employees', employees_path %></li>
          <li><%= link_to 'Expenses', expenses_path %></li>
          <li><%= link_to 'Product_types', product_types_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Purchases', purchases_path %></li>
          <li><%= link_to 'Sales', sales_path %></li>
          <li><%= link_to 'Stocks', stocks_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to "Cerrar Sesión", logout_path, :method => "delete" %></li>
        </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>
  <div style="width: 800px; padding-bottom: 40px; margin: 0 auto; margin-top: 80px;">
<%= yield %>
  </div>
</body>
</html>
